.navbar{
  background-color: #cf9ffc;
  padding-left: 2rem;
  padding-right: 2rem;
  .nav-item{
    font-family: monospace;
    padding: 1rem;
  }
  .logo {
    height: 100px;
  }
}
.active a{
  color: #fad4f9!important;
  border-style: ridge;
  
}



