.navbar{
  background-color: #cf9ffc;
  padding-left: 2rem;
  padding-right: 2rem;
  .nav-item{
    font-family: monospace;
    padding: 1rem;
    color: #d8cce3;
  }
  .logo {
    height: 100px;
  }
}



